In [31]:
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [30]:
import numpy as np

In [35]:
array[:2,1:]

array([[89, 63],
       [92, 48]])

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("/Users/saitejatangudu/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv")

In [5]:
data.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [13]:
len(data['Area Code'].unique())

49

In [19]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [29]:
sum(data.loc[data['Area']=='Algeria']['Y2018'].fillna(0))

341729.9800000005

In [48]:
sum(data.loc[data['Item']=='Animal fats']['Y2014'].fillna(0))

209460.5399999999

In [45]:
[i for i in data['Item'].unique() if i.startswith('Animal')]

['Animal Products', 'Animal fats']

In [51]:
data.fillna(0).describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000
mean,134.265576,2687.176706,3814.856456,130.697309,131.800867,133.115742,137.435459,140.371002
std,72.605709,146.055739,2212.007033,1547.238889,1583.051810,1619.362692,1651.220515,1690.647217
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.050000,0.040000,0.040000,0.050000,0.040000
75%,195.000000,2775.000000,5511.000000,8.000000,8.000000,8.000000,8.000000,8.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [52]:
data['Y2016'].isnull().sum()

1535

In [55]:
data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [62]:
data.groupby('Element').first()['Y2018']

ValueError: No axis named Y2018 for object type Series